{:mode 2, :first-ai-level 3, :second-ai-level nil, :board [1 2 3 4 5 6 7 8 9], :player :x, :game-id 1, :ui :tui, :moves ([1 2 3 4 :x 6 7 8 9] [:o 2 3 4 :x 6 7 8 9] [:o 2 :x 4 :x 6 7 8 9] [:o 2 :x 4 :x 6 :o 8 9] [:o 2 :x 4 :x :x :o 8 9] [:o 2 :x :o :x :x :o 8 9])}
{:game-id 2, :filepath "src/tic_tac_toe/game_logs/in_progress/gui/game-2.edn", :current-screen :play, :moves ([1 2 3 4 :x 6 7 8 9] [:o 2 3 4 :x 6 7 8 9] [:o 2 3 4 :x 6 7 :x 9] [:o :o 3 4 :x 6 7 :x 9] [:o :o 3 4 :x 6 7 :x :x] [:o :o :o 4 :x 6 7 :x :x]), :second-ai-level nil, :mode 2, :first-ai-level 3, :game-state :in-progress, :human? true, :ui :gui, :player :x, :board [1 2 3 4 5 6 7 8 9]}
