{:game-id 5
 :game-state :in-progress
 :ui :gui
 :mode 2
 :board [1 2 3 4 5 6 7 8 9]
 :first-ai-level 3
 :second-ai-level nil
 :player :x
 :human? true}

[1 2 3 4 5 6 7 8 9]
[1 2 3 4 :x 6 7 8 9]
[:o 2 3 4 :x 6 7 8 9]
[:o 2 3 4 :x :x 7 8 9]
[:o 2 3 :o :x :x 7 8 9]
[:o :x 3 :o :x :x 7 8 9]
[:o :x 3 :o :x :x :o 8 9]