{:game-id    1
 :moves      []
 :game-state :in-progress
 :ui         :gui}
{:game-id    2
 :moves      []
 :game-state :in-progress
 :ui         :tui}
{:game-id 5, :filepath "src/clj/tic_tac_toe/game_logs/in_progress/gui/game-5.edn", :current-screen :play, :moves [[1 2 3 4 :x 6 7 8 9] [:o 2 3 4 :x 6 7 8 9] [:o 2 3 4 :x :x 7 8 9] [:o 2 3 :o :x :x 7 8 9] [:o 2 :x :o :x :x 7 8 9] [:o 2 :x :o :x :x :o 8 9]], :second-ai-level nil, :mode 2, :first-ai-level 3, :game-state "O wins!", :human? true, :ui :gui, :player :x, :board [1 2 3 4 5 6 7 8 9]}
{:mode 2, :first-ai-level 3, :second-ai-level nil, :board [1 2 3 4 5 6 7 8 9], :player :x, :game-id 6, :ui :tui, :moves [[1 :x 3 4 5 6 7 8 9] [:o :x 3 4 5 6 7 8 9] [:o :x 3 :x 5 6 7 8 9] [:o :x 3 :x :o 6 7 8 9] [:o :x 3 :x :o 6 :x 8 9] [:o :x 3 :x :o 6 :x 8 :o]]}