name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  clojure-tests:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - uses: DeLaGuardo/setup-clojure@13.1
        with:
          cli: latest

      - uses: actions/cache@v4
        with:
          path: |
            ~/.m2/repository
            ~/.gitlibs
          key: clojure-${{ hashFiles('deps.edn') }}
          restore-keys: clojure-

      - uses: actions/cache@v4
        id: playwright-cache
        with:
          path: ~/.cache/ms-playwright
          key: playwright-${{ runner.os }}

      - name: Install Playwright OS dependencies
        run: npx playwright install-deps


      - name: Run Clojure tests
        run: clojure -M:test:spec --tag=~db

      - name: Run ClojureScript tests
        run: clojure -M:test:cljs once
