name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  clojure-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: DeLaGuardo/setup-clojure@13.1
        with:
          cli: latest

      - uses: actions/cache@v4
        with:
          path: |
            ~/.m2/repository
            ~/.gitlibs
          key: clojure-${{ hashFiles('deps.edn') }}
          restore-keys: clojure-

      - name: Run Clojure tests
        run: clojure -M:test:spec --tag=~db

      - name: Run ClojureScript tests
        run: clojure -M:test:cljs once
